@media screen and (max-width: 560px) {

    .topstrip {
        display: none;

    }

    .navbar-light .navbar-nav .nav-link {

        padding: 10px 15px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        color: #004900;

    }

    .dropdown-menu {

        border-radius: 0;
        border: none;

    }

    .dropdown-item {

        padding: 0.05rem 1.5rem;

    }

    .resbutton {
        border-radius: 0;
        margin-top: 15px;
        background: #004900;
        border: 0;
    }

    .circles {
        display: none;
    }

    .bannertitle h2 {

        font-size: 1em;

    }

    .bannertitle {

        padding-top: 75px;
    }

    .allboxes {
        display: grid;
        grid-template-columns: 1fr;

    }

    .serverdetails {

        display: grid;
        grid-template-columns: 1fr;
        padding: 0 !important;

    }

    .server h2 {

        font-size: 1.1em;
        line-height: 0 40px;
        padding-bottom: 50px;

    }

    .left-features {

        grid-template-columns: 240px 80px;
        text-align: left;

    }

    .right-features {

        grid-template-columns: 80px 240px;
        text-align: left;

    }

    .aboutrequest {

        grid-template-columns: 1fr;

    }

    .footer {

        grid-template-columns: 1fr;

    }

    .lastfooter {

        grid-template-columns: 1fr;
        text-align: center;

    }

    .lastfooter div:nth-child(1) {
        text-align: center;
        padding-bottom: 10px;
    }



    .photobox {


        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 0 40px;
        margin: 20px 0;
    
    
    }
    
    
    
    
    .photobox2 {
    
    
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 30px;
        padding: 0 40px;
        margin: 20px 0;
    
    }
    



}
